$width-button: 50px;
.profile-container {
  display: flex;
  width: 100%;
}
.header {
  font-weight: bold;
}
.submit-button {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
}

.beneficial-input {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.beneficial-container {
  position: relative;
}
.beneficial {
  width: 525;
}
.button-add-input {
  font-size: 20px;
  position: absolute;
  bottom: 33%;
  right: 5px;
  color: rgb(85, 85, 255);
  cursor: pointer;
}
.button-remove-input {
  font-size: 20px;
  bottom: 33%;
  position: absolute;
  right: 30px;
  color: rgb(255, 94, 94);
  cursor: pointer;
}
