$width-button: 50px;

.profile-container {
  margin: 20px 0px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(240, 230, 230);
}
.header {
  font-weight: bold;
}

.submit-button {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  display: flex;
  height: 40px;
  width: 120px;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out 0s;
}
